input{
	border: 0px;
}
day{
	background: rgb(94,94,94);
}
.row{
	min-width: 700px;
}
.pointer{
	cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.wrapper{
	max-height: 1000px;
	overflow: scroll;
	transform-origin: top;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.wrapper.noHeight{
	max-height: 0px;
	overflow: hidden;
}

body{
	background: linear-gradient(41deg, #00ffbd, #006bff, #00285f, #8907b0);
    background-size: 800% 800%;

    -webkit-animation: BackAnimation 30s ease infinite;
    -moz-animation: BackAnimation 30s ease infinite;
    animation: BackAnimation 30s ease infinite;
}


@-webkit-keyframes BackAnimation {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@-moz-keyframes BackAnimation {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes BackAnimation {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

.text-semi-muted{
	color: #ababab !important;
}
.grayLine{
	background-color: #efefef;
}